Flask
python-dotenv

langchain
langchain-community
langchain-google-genai

google-generativeai

faiss-cpu

sentence-transformers

pypdf

PyPDF2

python-multipart
Flask==3.1.0
python-dotenv==1.0.1

langchain==0.3.27
langchain-community==0.3.29
langchain-google-genai==2.1.10

faiss-cpu==1.12.0

sentence-transformers==5.1.0

pypdf==5.9.0
google-generativeai==0.8.5